# Environment variables
.env 
src/env 

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Project folder
project/

# Creds folder
creds/

# AWS credentials
.aws/
aws.credentials

# AWS Secrets Manager
creds/
*_cred.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
